Elkarte/Settings.php
Elkarte/Settings_bak.php
db_last_error.php
Elkarte/cache/data*.php
Elkarte/packages/backups/*
Elkarte/packages/temp
*.*~
.buildpath
.project
.settings/
/site
nbproject/*
.*.swp
/vendor/*
.idea